$header-height: 3.75rem;


// Buddha Gold 색상 팔레트
$buddha-gold-50:  #fdfde9;
$buddha-gold-100: #f9fcc5;
$buddha-gold-200: #fafb8d;
$buddha-gold-300: #f8f24c;
$buddha-gold-400: #f4e31b;
$buddha-gold-500: #e4cb0e;
$buddha-gold-600: #b99609;
$buddha-gold-700: #9d730b;
$buddha-gold-800: #825b11;
$buddha-gold-900: #6e4a15;
$buddha-gold-950: #402708;

// Monza 색상 팔레트
$monza-50:  #fff0f2;
$monza-100: #ffdee2;
$monza-200: #ffc2ca;
$monza-300: #ff98a5;
$monza-400: #ff5d72;
$monza-500: #FB6161;
$monza-600: #E53D3D;
$monza-700: #D51313;
$monza-800: #b90920;
$monza-900: #8e0e1f;
$monza-950: #4e010b;

// ⚫ Neutral Gray (Including #222222)
$neutral-gray-10:  #f8f9fa;
$neutral-gray-15:  #f5f5f5; 
$neutral-gray-20:  #e9ecef;
$neutral-gray-25:  #eaeaea;  
$neutral-gray-30:  #dee2e6;
$neutral-gray-40:  #ced4da;
$neutral-gray-50:  #999999;
$neutral-gray-60:  #222222; 
$neutral-gray-70:  #495057;
$neutral-gray-80:  #343a40;
$neutral-gray-90:  #212529;
$neutral-gray-100: #111111;


// Royal Blue 색상 팔레트
$royal-blue-400: #6C60F4;
$royal-blue-500: #4334F2;
$royal-blue-600: #3326BD;
$royal-blue-700: #160A9C;


// Primary 색상 설정
$primary-color: #911827;
$secondary-color: #911827;
$point-color-1: $royal-blue-400;
$point-color-2: #FFF4D1;

$pure-white: #ffffff;
$pure-black: #000000;